extends base.pug
block scripts
    script(src='../static/index.js')
block style
    style
      include ../static/style.css
block content
    section#introSection
        div Welcome to Kavya's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#MissionSection
        h2 Our mission for clients
        div.card
            h3 Dance perfection.
                div.card-box
                    div.card-img 
                        img(src="/static/image/first.png", alt="404")
                    div.card-content 
                        p This is the best dance academy of university.   
        div.card
            h3 Dance as u like.
                div.card-box
                    div.card-img 
                        img(src="/static/image/second.png", alt="404")
                    div.card-content 
                        p This is the best dance academy of university 
                
        div.card
            h3 Expert at teaching. 
                div.card-box
                    div.card-img 
                        img(src="/static/image/logo.png")
                    div.card-content 
                        p This is the best dance academy of university         
    section#sponsorsSection
        h2 Sponsor section
        div#sponsors 
            img(src="/static/image/apple.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/skype.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/hp.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/micro (2).png", alt="spnsor-img" Class="spn-img")