doctype 
doctype html
html
  head
    title Kavya Dance Academy
    style
      include ../static/style.css
      body
    nav#navbar
        ul
            div#logo 
                img(src="/static/image/logo.png", alt="404")
                | KDA
            //- div#logo
            //-     img(src="/static/img/logo.png")
            //-     | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
section#introSection
        div Welcome to Kavya's Dance Academy
        div.small Eat Sleep Dance Repeat
section#MissionSection
        h2 Our mission for clients
        div.card
            h3 Dance perfection.
                div.card-box
                    div.card-img 
                        img(src="/static/image/first.png", alt="404")
                    div.card-content 
                        p This is the best dance academy of university.   
        div.card
            h3 Dance as u like.
                div.card-box
                    div.card-img 
                        img(src="/static/image/second.png", alt="404")
                    div.card-content 
                        p This is the best dance academy of university 
                
        div.card
            h3 Expert at teaching. 
                div.card-box
                    div.card-img 
                        img(src="/static/image/logo.png")
                    div.card-content 
                        p This is the best dance academy of university         
section#sponsorsSection
        h2 Sponsor section
        div#sponsors 
            img(src="/static/image/apple.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/skype.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/hp.png", alt="spnsor-img" Class="spn-img")
            img(src="/static/image/micro (2).png", alt="spnsor-img" Class="spn-img")
footer#footer
        | Copyright © 2022 KavyaDanceAcademy.com | All right reserved

